# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# firebase credentials
meditel-prototype-v1-firebase-adminsdk-kapp9-e64042785a.json
