Bienvenido a MediTel
Para acceder a los servicios que te ofrece nuestra aplicación, debes hacer click en el siguiente enlace
<a href="{{ host() }}{{ route('auth.confirm.email', { token: token }) }}">Confirmar correo</a>
